{% extends 'layout.html.twig' %}

{% block content %}
<link rel="stylesheet" href="/assets/css/style2.css">

<body style="background-image: url('/assets/images/backgrounds/{{scene.background}}'); background-size: cover;">
  <div class="bg-black-opacity-70 h-full w-full text-white flex flex-col">

    {#// ===== MAIN CONTAINER ===== // #}
    <section id="container" class="flex flex-col flex-grow">

      {#// ===== BTN DIV ===== // #}
      <div class="flex w-full flex-grow gap-2 p-2">
        <button class="btn-style">
          BTN 1
        </button>

        <button class="btn-style">
          BTN 2
        </button>
      </div>

      <article class="dialogs ml-10 relative top-20">
        {% set displayed_characters = [] %}
        {% for dialogue in dialogues %}
        <div class="dialogue-box flex justify-between items-end" id="dialogue-{{ loop.index }}" style="display: {% if loop.first %}flex{% else %}none{% endif %};">
          <div class='dialogue-content'>

            <h2 class="character-name">
              {{ dialogue.character_name }}
            </h2>

            <div>
              <p class="dialogue-body">
                {{ dialogue.body }}
              </p>
            </div>

          </div>

          <div class="choices hidden">
            {% for choice in choices %}
            <a href="/scene/show?storyId={{scene.story_id}}&sceneId={{ choice.next_scene_id }}" class="choice-link">
              {{ choice.body }}
            </a>
            {% endfor %}
          </div>

          <div class="character-sprite">
            {% set appears_class = '' %}
            {% if dialogue.character_name not in displayed_characters %}
              {% set appears_class = 'appears' %}
              {% set displayed_characters = displayed_characters | merge([dialogue.character_name]) %}
            {% endif %}
            <img src="/assets/images/sprites/{{ dialogue.sprite }}" alt="{{ dialogue.character_name }}" class="sprite {{ appears_class }}">
          </div>
        </div>
        {% endfor %}
      </article>

      <div class="continue-button-container">
        <button id="continue-button" class="continue-button">
          Continuer
        </button>
      </div>

    </section>
  </div>
</body>
{% endblock %}
