{% extends 'layout.html.twig' %}

{% block content %}
    <link rel="stylesheet" href="/assets/css/style2.css">

<body style="background-image: url('/ assets/images/backgrounds/{{scene.background}}'); background-size: cover;">

    <section id="container">
        <article class="dialogs">
        {% for dialogue in dialogues %}
            <aaa class="dialogue-box">
<img src="/assets/images/sprites/{{ dialogue.sprite }}" alt="{{ dialogue.character_name }}">
      <h2 class="character-name">
        {{ dialogue.character_name }}:
      </h2>
      <p class="dialogue-body">
        {{ dialogue.body }}
      </p>
    </aaa>
    {% endfor %}
    <button id="continue-button">Continuer</button>

  </article>

            <div class="choices" style="display: none;">
                {% for choice in choices %}
                <a href="/scene/show?storyId={{scene.story_id}}&sceneId={{ choice.next_scene_id }}" class="choice-link">
                    {{ choice.body }}
                </a>
                {% endfor %}
            </div>
        </section>
    </body>
{% endblock %}
