{% extends 'layout.html.twig' %}

{### Block supplémentaire de fichiers style & JS ###}
{% block head_extra %}
<link rel="stylesheet" href="/assets/css/scene.css">
<script src="/assets/js/scene.js"></script> {### Script de gestion de l'affichage des dialogues & des personnages  ###}
{% endblock %}

{### Block supplémentaire de titre de page  ###}
{% block title %}
{{ scene.name }}
{% endblock %}

{% block content %}

<body>
  {### Div de background ###}

  <div class="background" style="background-image: url('/assets/images/backgrounds/{{ scene.background }}');"></div>

  <section id="container">

    {### Div de boutons de menu cachée pour l'instant###}
    <div class="buttons hidden">
      <button class="btn">BTN 1</button>
      <button class="btn">BTN 2</button>
    </div>

    {### Div de dialogues ###}
    <article class="dialogues">
      {% for dialogue in dialogues %}
      <div class="dialogue {% if not loop.first %}hidden{% endif %}" id="dialogue-{{ loop.index }}">
        <h2 class="character-name">
          {{ dialogue.character_name }}
        </h2>
        <div class="dialogue-content">
          <p class="dialogue-body">
            {{ dialogue.body }}
          </p>
        </div>
      </div>
      {% endfor %}
    </article>

    <div class="continue">
      <button id="continue-button" class="btn">Continuer</button>
    </div>

    {### Div pour les sprites des personnages ###}
    <div class="sprites">
      {% for dialogue in dialogues %}
      <div class="sprite  {% if not loop.first %}hidden{% endif %}">
        <img src="/assets/images/sprites/{{ dialogue.sprite }}" alt="{{ dialogue.character_name }}" class="sprite-appears">
      </div>
      {% endfor %}
    </div>

    {### Div de boutons de choix ###}
    <div class="choices hidden">
      {% for choice in choices %}
      <a href="/scene/show?storyId={{ scene.story_id }}&sceneId={{ choice.next_scene_id }}" class="choice-link">
        {{ choice.body }}
      </a>
      {% endfor %}
    </div>

  </section>
</body>
{% endblock %}
