<ul>
  {% for character in characters %}
  <li>
    {{character.name}}
      <button
      onclick="if(confirm('Êtes vous sûr de vouloir supprimer ce personnage ?'))
      { window.location.href='/story/engine/character/delete?story_id={{story.id}}&scene_id={{scene.id}}&id={{character.id}}';}">
      &#x1F5D1;
      </button>
      <button class="edit_character">Editer</button>
      <form method="post" enctype="multipart/form-data" action="/story/engine/character/update" class="edit_character_form">
        <img src="/assets/images/sprites/{{character.sprite}}">
        <input type="hidden" name="story_id" value={{ story.id}}>
        <input type="hidden" name="scene_id" value={{ scene.id}}>
        <input type="hidden" name="character_id" value={{ character.id}}>
        <input type="text" name="character_name" id="character_name" value={{character.name | raw}}>
        <label for="sprite">sprite</label>
        <input type="file" name="sprite" id="sprite">
        <input type="submit">
        <button class="cancel_character">&#10006;</button>
      </form>
  </li>
  {% endfor %}

  <button class='add_character'>Ajouter un personnage</button>
  <form method='post' enctype="multipart/form-data" action="/story/engine/character/add" class="add_character_form">
    <input type="hidden" name="story_id" value={{ story.id }}>
    <input type="hidden" name="scene_id" value={{ scene.id }}>
    <label for="character_name"></label>
    <input type="text" id="character_name" name="character_name">
    <label for="sprite">sprite</label>
    <input type="file" id="sprite" name="sprite">
    <input type="submit">
    <button class="cancel_character">&#10006;</button>
  </form>
</ul>
