<ul>
  {% for choice in choices %}
  <li>
    {{ choice.body }} ⇒ <a href="/story/editor/scene/show?story_id={{ story.id }}&id={{ choice.next_scene_id }}">
      {{ choice.next_scene_name }}</a>
    <button onclick="if(confirm('Êtes vous sûr de vouloir supprimer ce choix ?')) { window.location.href='/story/engine/choice/delete?story_id={{story.id}}&scene_id={{scene.id}}&id={{choice.id}}';}"> &#x1F5D1;</button>
    <button class="edit_choice">Editer</button>
    <form method="post" action="/story/engine/choice/update" class="edit_choice_form">
    <input type="hidden" name="id" value="{{ choice.id }}">
    <input type="hidden" name="scene_id" value="{{ scene.id }}">
    <input type="hidden" name="story_id" value="{{ story.id }}">
    <input type="text" name="choice_body" id="choice_body" value="{{ choice.body }}">
    <select name="next_scene" id="next_scene">
        {% for onescene in allscenes %}
        <option value="{{ onescene.id }}" {% if onescene.id == choice.next_scene_id %}selected{% endif %}>
        {{ onescene.name }}
        </option>
        {% endfor %}
    </select>
    <input type="submit">
    <button class="cancel_choice">&#10006;</button>
    </form>
  </li>
  {% endfor %}
  <button class="add_choice">Ajouter un choix</button>
  <form method='post' action="/story/engine/choice/add" class="add_choice_form">
    <label for="choice_body"></label>
    <input type="hidden" name="scene_id" value={{ scene.id }}>
    <input type="hidden" name="story_id" value={{ story.id }}>
    <input type="text" id="choice_body" name="choice_body">
    <select name="next_scene" id="next_scene">
      {% for onescene in allscenes %}
      <option value={{ onescene.id }}>
        {{ onescene.name }}
      </option>
      {% endfor %}
    </select>
    <input type="submit">
    <button class="cancel_choice">&#10006;</button>
  </form>
</ul>
