<ul class="choices-list">
  {% for choice in choices %}
  <div>
  <li class="choice-item">
    <p>{{ choice.body | raw }}</p>
    <p class="arrow" >➼</p>
  {% if choice.next_scene_id == 0 %}
    {{ choice.next_scene_name | raw }}
  {% else %}
    <a href="/story/engine/scene/show?story_id={{ story.id }}&id={{ choice.next_scene_id }}">
    {{ choice.next_scene_name | raw }}</a>
  {% endif %}
  <div>
    <button class="del_choice" onclick="if(confirm('Êtes vous sûr de vouloir supprimer ce choix ?')) { window.location.href='/story/engine/choice/delete?story_id={{story.id}}&scene_id={{scene.id}}&id={{choice.id}}';}"> &#x2715;</button>
    <button class="edit-choice">Editer</button>
    <form method="post" action="/story/engine/choice/update" class="edit-choice-form">
    <input type="hidden" name="id" value="{{ choice.id }}">
    <input type="hidden" name="scene_id" value="{{ scene.id }}">
    <input type="hidden" name="story_id" value="{{ story.id }}">
    <input type="text" name="choice_body" id="choice_body" value="{{ choice.body | raw }}" maxlength="35">
    <select name="next_scene" id="next_scene">
        {% for onescene in allscenes %}
        <option value="{{ onescene.id }}" {% if onescene.id == choice.next_scene_id %}selected{% endif %}>
        {{ onescene.name | raw }}
        </option>
        {% endfor %}
    </select>
    <input type="submit">
    <button class="cancel-choice">&#10006;</button>
    </form>
    </div>
    </div>
  </li>
  {% endfor %}
  <div id="final-scene-wrapper">
    <input type="checkbox" id="final-scene">Dernière scène</input>
  </div>
  <button class="add-choice">Ajouter un choix</button>
  <form method='post' action="/story/engine/choice/add" class="add-choice-form">
    <label for="choice_body"></label>
    <input type="hidden" name="scene_id" value={{ scene.id }}>
    <input type="hidden" name="story_id" value={{ story.id }}>
    <input type="text" id="choice_body" name="choice_body" maxlength="35">
    <select name="next_scene" id="next_scene">
      <option value="0">-- À définir --</option>
      {% for onescene in allscenes %}
      <option value={{ onescene.id }}>
        {{ onescene.name | raw }}
      </option>
      {% endfor %}
    </select>
    <input type="submit">
    <button class="cancel-add-choice">&#10006;</button>
  </form>
</ul>
