<ul>
    {% for dialogue in dialogues %}
    <li>
      {{ dialogue.character_name }} :
      {{ dialogue.body }}
    </li>
    {% endfor %}
</ul>

<form method = "post" action ="/storycreation/scene/add_dial?story_id={{ story.id }}&scene_id={{ scene.id }}">
<label for = "body"></label>
<input type = "textarea" name = "body" id ="body"> 
        <label for = "character_id"></label>
        <select name = "character_id" id = "character_id">
        {% for character in characters %} 
            <option  value = "{{ character.id }}"> {{ character.name }} </option>
        {% endfor %}
    </select>
<input type ="submit">
</form>
