<ul>
    {% for dialogue in dialogues %}
    <li>
        <div class="dialogue-container">
      <h4>{{ dialogue.name | raw }} :</h4>
        <button class="del_dial"
        onclick="if(confirm('Êtes vous sûr de vouloir supprimer ce dialogue ?'))
        { window.location.href='/story/engine/dialogue/delete?story_id={{story.id}}&scene_id={{scene.id}}&id={{dialogue.id}}';}">
        &#x2715;
        </button>
        <button class="edit-dialogue">Editer</button>
        </div>
        <p>{{ dialogue.body | raw }}</p>
        <form method="post" action="/story/engine/dialogue/update" class="edit-dialogue-form">
            <input type="hidden" name="story_id" value={{ story.id }}>
            <input type="hidden" name="scene_id" value={{ scene.id }}>
            <input type="hidden" name="dialogue_id" value={{ dialogue.id }}>
            <input type="textarea" name="dialogue_body" id="dialogue_body" value="{{ dialogue.body | raw }}"  maxlength="150">
            <select name="character_id" id="character_id">
            {% for character in characters %}
                <option value={{ character.id }} {% if dialogue.name %}selected{% endif %} >
                {{ character.name | raw }}
                </option>
            {% endfor %}
            </select>
            <input type="submit">
            <button class="cancel-dialogue"><</button>
        </form>
    </li>
    {% endfor %}

    {% if characters %}
    <button class="add-dialogue">Ajouter une ligne de dialogue</button>
    <form method = "post" action ="/story/engine/dialogue/add" class="add-dialogue-form">
        <input type="hidden" name="story_id" value={{ story.id }}>
        <input type="hidden" name="scene_id" value={{ scene.id }}>
        <label for = "dialogue_body"></label>
        <input type = "textarea" name = "dialogue_body" id ="dialogue_body" maxlength="150">
            <label for = "character_id"></label>
            <select name = "character_id" id = "character_id">
            {% for character in characters %}
                <option  value = "{{ character.id }}"> {{ character.name | raw }} </option>
            {% endfor %}
        </select>
        <input type ="submit">
        <button class="cancel-add-dialogue"><</button>
    </form>
    {% endif %}
</ul>
