<ul>
    {% for dialogue in dialogues %}
    <li>
      {{ dialogue.name | raw }} :
      {{ dialogue.body | raw }}
        <button
        onclick="if(confirm('Êtes vous sûr de vouloir supprimer ce dialogue ?'))
        { window.location.href='/story/engine/dialogue/delete?story_id={{story.id}}&scene_id={{scene.id}}&id={{dialogue.id}}';}">
        &#x1F5D1;
        </button>
        <button class="edit_dialogue">Editer</button>
        <form method="post" action="/story/engine/dialogue/update" class="edit_dialogue_form">
            <input type="hidden" name="story_id" value={{ story.id }}>
            <input type="hidden" name="scene_id" value={{ scene.id }}>
            <input type="hidden" name="dialogue_id" value={{ dialogue.id }}>
            <input type="textarea" name="dialogue_body" id="dialogue_body" value="{{ dialogue.body | raw }}">
            <select name="character_id" id="character_id">
            {% for character in characters %}
                <option value={{ character.id }} {% if onescene.id == choice.next_scene_id %}selected{% endif %} >
                {{ character.name | raw }}
                </option>
            {% endfor %}
            </select>
            <input type="submit">
            <button class="cancel_dialogue">&#10006;</button>
        </form>
    </li>
    {% endfor %}

    <button class="add_dialogue">Ajouter une ligne de dialogue</button>
    <form method = "post" action ="/story/engine/dialogue/add" class="add_dialogue_form">
        <input type="hidden" name="story_id" value={{ story.id }}>
        <input type="hidden" name="scene_id" value={{ scene.id }}>
        <label for = "dialogue_body"></label>
        <input type = "textarea" name = "dialogue_body" id ="dialogue_body">
            <label for = "character_id"></label>
            <select name = "character_id" id = "character_id">
            {% for character in characters %}
                <option  value = "{{ character.id }}"> {{ character.name | raw }} </option>
            {% endfor %}
        </select>
        <input type ="submit">
        <button class="cancel_dialogue">&#10006;</button>
    </form>
</ul>
