{% block content %}

<p>Histoire : {{ story.name }}</p>
<a href="/storycreation/show?id={{ story.id }}">Retour à l'histoire</a>
<h1>{{scene.name}}</h1>

<h2>Personnages :</h2>
<ul>
{% for character in characters %}
    <li>
        <input type="checkbox" id = "{{character.name}}" name = "{{character.name}}">
        <label for = "{{character.name}}">{{character.name}}
        <a href = "/storycreation/delchar?story_id={{story.id}}&scene_id={{scene.id}}&id={{character.id}}"> supprimer</a>
        <a href= "" class="edit"> Editer</a>
    </li>
{% endfor %}
    <form method = 'post' action="/storycreation/addchar?story_id={{ story.id }}&scene_id={{ scene.id }}">
        <label for="name"></label>
        <input type="text" id="name" name="name">
        <label for = "sprite">sprite</label>
        <input type="text" id="sprite" name="sprite">
        <input type = "submit">
    </form>
</ul>

<h2>Répliques :</h2>
<ul>
{% for dialogue in dialogues %}
    <li>{{ dialogue.character_name }} :  {{ dialogue.body }}</li>
{% endfor %}
    <li><a href="/storycreation/scene/add_dial?story_id={{ story.id }}&scene_id={{ scene.id }}"> Ajouter une ligne de dialogue</a></li>  
</ul>

<h2>Choix :</h2>
<ul>
{% for choice in choices %}
    <li>{{ choice.id }} : {{ choice.body }}</li>
{% endfor %}
</ul>
<script src="/public/assets/script/editDialogue.js"></script>
{% endblock %}
