{% extends 'layout.html.twig' %}
{% block head %}
    <link rel="stylesheet" href="/assets/css/engine/story.css">
{% endblock %}

{% block head_extra %}
<script src="/assets/js/card.js" defer></script>
{% endblock %}

{% block content %}
<main>
    <div class="header">
        <div></div>
        <h1>Vos histoires</h1>
        <a href="/" class="icon">
            <img src="/assets/images/icones/home.svg" alt="plow icon"> Home
        </a>
    </div>

    <section id="container">
        {% for story in stories %}
        <div class="border">
            <article class="story-list" data-url="/story/engine/show?id={{ story.id }}">
                <a href="/story/engine/show?id={{ story.id }}">
                <div class="name">
                    <h2>{{ story.name | raw }}</h2>
                </div>

                <div id="story-edit">
                    <div class="story-show edit">
                        <a href="/story/scene/start?story_id={{ story.id }}">
                            <img src="/assets/images/icones/play.svg" alt="play icon" class="icon">
                        </a>
                    </div>
                    <div class="story-delete edit">
                        <a href='/story/engine/delete?id={{story.id}}'
                        onclick="if(confirm('Êtes vous sûr de vouloir supprimer cette histoire ?'))
                        { window.location.href='/story/engine/delete?id={{story.id}}';}">
                            <img src="/assets/images/icones/trash.svg" alt="trash icon" class="icon">
                        </a>
                    </div>
                </div>
                </div>
                </a>
            </article>
        </div>
        {% endfor %}
    </section>
    <a href="/story/engine/add" id="add-story-link">Créer une histoire</a>
</main>
{% endblock %}
