{% extends 'layout.html.twig' %}
{% block head %}
  <link rel="stylesheet" href="/assets/css/engine/scene-index.css">
{% endblock %}
{% block content %}
<main id="main-story">
    <div class="links-back">
        <a href="/story/engine" id="back-stories">
            <img src="/assets/images/icones/story.svg" alt="plow icon"> Histoires
        </a>
        <a href="/" id="home">
            <img src="/assets/images/icones/home.svg" alt="plow icon"> Home
        </a>
    </div>
    <h1>{{story.name | raw}}</h1>
    <section id="container">
        {% for scene in scenes %}
            <article class="scene-list">
                <div class="name">
                    <a href="/story/scene/show?scene_id={{ scene.id }}">
                        {{ scene.name | raw }}
                    </a>
                </div>
                <div id="scene-edit">
                    <div class="scene-edit edit">
                        <a href="/story/engine/scene/show?story_id={{ story.id }}&id={{ scene.id }}">
                            <img src="/assets/images/icones/pen.svg" alt="pen icon" class="icon">
                        </a>
                    </div>
                    <div class="scene-show edit">
                        <a href="/story/scene/show?scene_id={{ scene.id }}">
                            <img src="/assets/images/icones/play.svg" alt="play icon" class="icon">
                        </a>
                    </div>
                    <div class="scene-delete edit">
                        <a
                        onclick="if(confirm('Êtes vous sûr de vouloir supprimer ce choix ?'))
                        { window.location.href='/story/engine/scene/delete?story_id={{story.id}}&id={{scene.id}}';}">
                            <img src="/assets/images/icones/trash.svg" alt="trash icon" class="icon">
                        </a>
                    </div>
                </div>
            </article>
        {% endfor %}
    </section>
    <a href = "/story/engine/scene/add?story_id={{story.id}}" id="add-scene-link"> Ajouter une scène </a>
</main>
{% endblock %}

{% block javascript %}

{% endblock %}
