{% extends 'layout.html.twig' %}

{% block content %}
<a href="../storycreation">Retour aux histoires</a>
<h1>{{story.name}}</h1>
<a href = "scene/add?story_id={{story.id}}"> Ajouter une scène </a>
<h2>Scènes :</h2>
<ul>
    {% for scene in scenes %}
    <li>{{ scene.name }} : <a href="scene/show?story_id={{ story.id }}&id={{ scene.id }}">voir la scène</a>
    <a href="scene/delete?story_id={{ story.id }}&id={{scene.id}}">supprimer la scene</a></li>
    {% endfor %}
</ul>

{% endblock %}
