{% extends 'layout.html.twig' %}

{% block content %}
<main id="main-story">
    <div class="links-back">
        <a href="/story/engine" id="back-stories">
            <img src="/assets/images/icones/story.svg" alt="plow icon"> Histoires
        </a>
        <a href="/" id="home">
            <img src="/assets/images/icones/home.svg" alt="plow icon"> Home
        </a>
    </div>
    <h1>{{story.name | raw}}</h1>
    <nav id="nav">
        <a href="/scene/show"><h2 id="navScene">Scènes</h2></a>
        <a href=""><h2 id="navCharacter">Personnages</h2></a>
    </nav>
    <section id="container">

        {% for character in characters %}
            <article class="characterList">
                <div class="name">
                    <a href="scene/show?story_id={{ story.id }}&id={{ character.id }}">
                        {{ character.name | raw }}
                    </a>
                </div>
                <div id="charactersEdit">
                    <div class="characterEdit edit">
                        <a href="/scenecreation/update_scene?id={{ story.id }}">
                            <img src="/assets/images/icones/pen.svg" alt="pen icon" class="icon">
                        </a>
                    </div>
                    <div class="sceneShow edit">
                        <a href="/story/scene/show?story_id={{ story.id }}&id={{ scene.id }}">
                            <img src="/assets/images/icones/preview.svg" alt="preview icon" class="icon">
                        </a>
                    </div>
                    <div class="sceneDelete edit">
                        <a href="/story/engine/scene/delete?story_id={{ story.id }}&id={{scene.id}}">
                            <img src="/assets/images/icones/trash.svg" alt="trash icon" class="icon">
                        </a>
                    </div>
                </div>
            </article>
        {% endfor %}
    </section>
    <a href = "scene/add?story_id={{story.id}}" id="addSceneLink"> Ajouter une scène </a>
</main>
{% endblock %}

{% block javascript %}

{% endblock %}
