{% extends 'layout.html.twig' %}
{% block head %}
  <link rel="stylesheet" href="/assets/css/engine/scene-index.css">
{% endblock %}

{% block head_extra %}
<script src="/assets/js/scene-index.js" defer></script>
{% endblock %}

{% block content %}
<main>
    <div class="header">
        <a href="/story/engine" class="icon">
            <img src="/assets/images/icones/story.svg" alt="plow icon"> Histoires
        </a>

        <h1>{{ story.name | raw }}</h1>

        <a href="/" class="icon">
            <img src="/assets/images/icones/home.svg" alt="plow icon"> Home
        </a>
    </div>

    <section id="container">
        {% for scene in scenes %}
        <div class="border">
            <article class="scene-list clickable" data-url="/story/engine/scene/show?story_id={{ story.id }}&id={{ scene.id }}">
                <div class="name">
                        {{ scene.name | raw }}
                </div>
                <div id="scene-edit">
                    <div class="scene-show edit">
                        <a href="/story/scene/show?scene_id={{ scene.id }}">
                            <img src="/assets/images/icones/play.svg" alt="play icon" class="icon">
                        </a>
                    </div>
                    <div class="scene-delete edit">
                        <a
                        onclick="if(confirm('Êtes vous sûr de vouloir supprimer ce choix ?'))
                        { window.location.href='/story/engine/scene/delete?story_id={{story.id}}&id={{scene.id}}';}">
                            <img src="/assets/images/icones/trash.svg" alt="trash icon" class="icon">
                        </a>
                    </div>
                </div>
            </article>
        </div>
        {% endfor %}
    </section>
    <a href = "/story/engine/scene/add?story_id={{story.id}}" id="add-scene-link"> Ajouter une scène </a>
</main>
{% endblock %}

{% block javascript %}

{% endblock %}
