{% extends 'layout.html.twig' %}
{% block head %}
  <link rel="stylesheet" href="/assets/css/storycreationShow.css">
{% endblock %}
{% block content %}
<main id="mainStory">
    <div class="linksBack">
        <a href="/story/engine" id="backStories">
            <img src="/assets/images/icones/story.svg" alt="plow icon"> Histoires
        </a>
        <a href="/" id="home">
            <img src="/assets/images/icones/home.svg" alt="plow icon"> Home
        </a>
    </div>
    <h1>{{story.name | raw}}</h1>
    <nav id="nav">
        <a href="/story/engine"><h2 id="navScene">Scènes</h2></a>
        <a href="/story/engine/character/show"><h2 id="navCharacter">Personnages</h2></a>
    </nav>   
    <section id="container">        
        {% for scene in scenes %}
            <article class="sceneList">
                <div class="name">
                    <a href="/story/scene/show?scene_id={{ scene.id }}">
                        {{ scene.name | raw }}
                    </a>
                </div>
                <div id="sceneEdit">
                    <div class="sceneEdit edit">
                        <a href="/story/engine/scene/show?story_id={{ story.id }}&id={{ scene.id }}">
                            <img src="/assets/images/icones/pen.svg" alt="pen icon" class="icon">
                        </a>
                    </div>
                    <div class="sceneShow edit">
                        <a href="/story/scene/show?story_id={{ story.id }}&id={{ scene.id }}">
                            <img src="/assets/images/icones/preview.svg" alt="preview icon" class="icon">
                        </a>
                    </div>
                    <div class="sceneDelete edit">
                        <a
                        onclick="if(confirm('Êtes vous sûr de vouloir supprimer ce choix ?'))
                        { window.location.href='/story/engine/scene/delete?story_id={{story.id}}&id={{scene.id}}';}">
                            <img src="/assets/images/icones/trash.svg" alt="trash icon" class="icon">
                        </a>
                    </div>
                </div>
            </article>
        {% endfor %}

        {% for ressource in ressources %}
            <article class="ressourceList">
                <div class="name">
                    <a href="/story/scene/show?story_id={{ story.id }}&id={{ scene.id }}">
                        {{ ressource.name | raw }}
                    </a>
                </div>
                <div id="ressourceEdit">
                    <div class="ressourceEdit edit">
                        <a href="/story/scene/show?id={{ story.id }}">
                            <img src="/assets/images/icones/pen.svg" alt="pen icon" class="icon">
                        </a>
                    </div>
                    <div class="ressourceShow edit">
                        <a href="/story/scene/show?story_id={{ story.id }}&id={{ scene.id }}">
                            <img src="/assets/images/icones/preview.svg" alt="preview icon" class="icon">
                        </a>
                    </div>
                    <div class="ressourceDelete edit">
                        <a href="/story/engine/scene/delete?story_id={{ story.id }}&id={{scene.id}}">
                            <img src="/assets/images/icones/trash.svg" alt="trash icon" class="icon">
                        </a>
                    </div>
                </div>
            </article>
        {% endfor %}
    </section>
    <a href = "/story/engine/scene/add?story_id={{story.id}}" id="addSceneLink"> Ajouter une scène </a>
</main>
{% endblock %}

{% block javascript %}

{% endblock %}
