{% extends 'layout.html.twig' %}

{% block content %}
<p>Scène : {{ scene.name }}</p>
<a href="/storycreation/scene/show?story_id={{ story.id }}&id={{ scene.id }}">Retour à la scène</a>

<form method = "post" action ="">
<label for = "body"></label>
<input type = "textarea" name = "body" id ="body"> 
        <label for = "character_id"></label>
        <select name = "character_id" id = "character_id">
        {% for character in characters %} 
            <option  value = "{{ character.id }}"> {{ character.name }} </option>
        {% endfor %}
    </select>
<input type ="submit">
</form>
{% endblock %}